html, body {
    background-image: url(star_background.jpg);
    font-family: 'Raleway', sans-serif;
}


header {
    background-color: rgb(39, 39, 39);
    color: white;
    margin: 0em;
    padding: 15px;
}

.sub-header {
    font-size: 40px;
    color: white;
    background-color: black;
    padding-left: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

h1 {
    display: inline-block;
}

nav {
    padding-top: 15px;
    margin-right: 50px;
    font-size: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
}


li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rebeccapurple;
}

a:hover {
    text-decoration: none;
    color: plum;
}

.active {
    color: lightyellow;
}

.container1 {
    margin: auto;
    padding: auto;
}

p {
    line-break: auto;
    line-height: 2.5rem;
    text-align: left;
    font-size: 18px;
}