html, body {
    background-image: url(star_background.jpg);
}


header {
    background-color: rgb(39, 39, 39);
    color: white;
    margin: 0em;
    padding: 15px;
}

.sub-header {
    font-size: 40px;
    color: white;
    opacity: 100%;
}

h1 {
    display: inline-block;
}

nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

ul {
    list-style-type: none;
}


li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: rebeccapurple;
}

a:hover {
    text-decoration: none;
    color: plum;
}
